<!DOCTYPE html>
<html lang="ca">

{% from "_formhelpers.html" import render_field %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My App</title>
	<link href="/static/style.css" rel="stylesheet">
</head>

<body>
   <h2>Hola {{ user.email }}!</h2>
   <h3>Item {{ item.id }}</h3>

   <form action="/item/{{ item.id }}" method = "POST">
      {{ form.csrf_token }}
      {{ render_field(form.nom) }}
      {{ render_field(form.unitats) }}
      {{ form.submit(value="MODIFICAR") }}
   </form>
   <a href="/item">&#x3c;&#x3c; Tornar al llistat d'items</a>
</body>

</html>