/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f773fc;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilos específicos para el encabezado con nombre */
h1#hello {
    font-size: 36px;
}

td ,th {
    border: 1px solid black
}
/* Estilos para la imagen */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el contenedor de la imagen */
div.image-container {
    text-align: center;
}

/* Estilos para el enlace en caso de que necesites uno */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.boton {
    display: inline-block;
    padding: 10px 20px; 
    margin: 10px; 
    text-align: center;
    text-decoration: none;
    border: 2px solid #007BFF; 
    border-radius: 5px; 
    background-color: #007BFF; 
    color: #fff;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  .boton:hover {
    background-color: #0056b3; 
    border: 2px solid #0056b3; 
    color: #fff; 
  }
  

  .boton:active {
    background-color: #003A75; 
    border: 2px solid #003A75; 
    color: #fff; 
  }
  
