/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilos específicos para el encabezado con nombre */
h1#hello {
    font-size: 36px;
}

td ,th {
    border: 1px solid black
}
/* Estilos para la imagen */
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el contenedor de la imagen */
div.image-container {
    text-align: center;
}

/* Estilos para el enlace en caso de que necesites uno */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
